@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1e1e1e;
    --white: #f2f2f2;
    --main: cyan;
}

body {
    background: var(--black);
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.analog {
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 50%;
    background: var(--black);
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.points {
    width: 100%;
    height: 100%;
    position: relative;
}

.point {
    background: rgba(255, 255, 255, 0.7);
    display: block;
    width: 1px;
    height: 12px;
    border-radius: 0.8mm;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 0.3mm);
}

.point.big {
    background: var(--white);
    border: 0.3mm solid rgba(255, 255, 255, 0.8);
    height: 14px;
    top: calc(50% - 7px);
    left: calc(50% - 0.2mm);
}

.point.big .text {
    color: var(--white);
    position: absolute;
    top: 100%;
    left: calc(50% - 20px);
    font-size: 30px;
    font-weight: 600;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}

.second,
.minute,
.hour {
    width: 2px;
    height: 155px;
    position: absolute;
    top: 50%;
    left: calc(50% - 1px);
    border-radius: 0.6mm;
    transform-origin: 1px 0;
}

.second {
    background: var(--main);
    height: 182px;
    top: calc(50% - 26px);
    transform: rotate(30deg);
    transform-origin: 1px 26px;
}

.minute,
.hour {
    background: var(--white);
}

.hour {
    height: 110px;
    transform: rotate(-30deg);
}

.minute::before,
.hour::before {
    content: "";
    background: var(--white);
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 8px;
    height: calc(100% - 22px);
    border-radius: 2mm;
}

.pivot,
.pivot::before {
    width: 10px;
    height: 10px;
    background: var(--black);
    border: 3px solid var(--white);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pivot::before {
    content: "";
    width: 5px;
    height: 5px;
    border: 1px solid var(--main);
}

.digital {
    color: var(--white);
    background: var(--black);
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    width: 280px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 3px 3px 5px rgba(0, 0, 0, 0.5);
}
